---
# tasks file for blue-green

# In a real wold, `key_name` and `key_secret` Should be stored in Ansible Vault file
- name: Grab the TSIG key
  shell: >
    grep key {{ blue_green_dns_key }}
  register: __blue_green_dns_key_name
  changed_when: False

- name: Grab the TSIG secret
  shell: >
    grep secret {{ blue_green_dns_key }} | tr -d ';'
  register: __blue_green_dns_key_secret
  changed_when: False

- name: Configure the Blue/Green DNSs
  nsupdate:
    state: present
    server: "{{ blue_green_dns_server }}"
    type: CNAME
    ttl: 60
    zone: "{{ blue_green_dns_zone }}"
    value: "{{ blue_green_loadbalancer }}"
    record: "{{blue_green_dns }}"
    key_name: "{{ (__blue_green_dns_key_name.stdout).split(' ')[1] | replace('\"', '') | replace('{', '') }}"
    key_secret: "{{ (__blue_green_dns_key_secret.stdout).split(' ')[1] | replace('\"', '') }}"
