[client]
user=root
password={{ mysql_server_root_pwd_root_pwd }}
protocol=tcp

[mysql]
user=root
password={{ mysql_server_root_pwd_root_pwd }}

[mysqldump]
user=root
password={{ mysql_server_root_pwd_root_pwd }}

[mysqldiff]
user=root
password={{ mysql_server_root_pwd_root_pwd }}
